<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{subject}}</title>
  </head>

  <body>
    <table
      class="email-template-wrap"
      style="margin:0 auto; max-width:500px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;     box-shadow: 0px 0px 23px rgb(0 0 0 / 5%);
        border-radius: 8px;
        padding: 60px 40px;"
    >
      <td>
        <table width="100%">
          <tr valign="top">
            <td
              width="100%"
              class="vector-image-wrap"
              style="text-align: center;"
            >
              <p
                style="font-size: 22px; margin-top: 0px; margin-bottom: 34px;"
              >Hi
                {{user.name}}, Please click the link below to reset your
                password</p>

              {{#if user.profilePicURL}}
                <img
                  style="display: inline-block; margin-bottom: 40px; border-radius: 50%; max-width:250px; max-height: 250px;"
                  src={{user.profilePicURL}}
                  alt={{user.name}}
                />
              {{/if}}

              <a
                style="color: #ffffff; background-color:#4FD44C; font-weight: bold; display:block;width: 250px;
                        margin: 0 auto; padding: 16px 40px; border-radius: 4px; text-decoration: none; margin-bottom: 40px; "
                href={{link}}
              >
                Reset My Account Password
              </a>
              <img
                style="display: inline-block;"
                src={{product.logoMini}}
                alt={{product.name}}
                title={{product.name}}
              />
              <p style="color: rgba(0, 0, 0, .4)" ;>©
                {{product.name}}
                This message was sent to
                {{user.email}}.</p>
            </td>

          </tr>
        </table>
      </td>
    </table>
  </body>

</html>